.fondo-video-container {
    position: relative;
    overflow: hidden;
    display: flex;
   
  }
  
  .fondo-video {
    position: absolute;
    left: 0;
    top: 0;
    width: 55%; 
    height: 100%;
    object-fit: cover; 
    filter:saturate(0%) sepia(100%) contrast(150%) saturate(150%);
    filter: grayscale(1) blur(1px) contrast(1.2) sepia(1) blur(0.25px);
    
  }
  
  .gradient-overlay {
    position: absolute;
    top: 0;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(90deg, rgba(9,9,121,0) 24%, #ffffc9 54%);
  }
  
  .info-container {
    position: relative;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
   
    box-sizing: border-box;
    background: rgba(255, 255, 255, 0.007);
    backdrop-filter: blur(3px); 
    width: 45%;
    height: 100vh; 
    left: 65%;
 
    
  }
  
  .contenido_limon{
    font-family: 'Quicksand', sans-serif;
    position: relative;
    overflow: hidden;
    font-size: 30px;
  }

  .contenido_limon:first-child{
    margin-bottom: -19px;
  }


  .verde{
    color: #45890D;
  }
