.contenido2 {
  display: flex;
  align-items: flex-start;
  gap: 10px;
  margin: 80px 300px 20px 30px;
  justify-content: space-around;
  margin-right: 10px;
}

element.style {
  margin-right: 10px;
}

.imagenen_principal {
  width: 25%; 
  display: flex;
  flex-direction: column;
 
}
.imagen3 {
  border-radius: 8px;
  width: 434px;
  height: auto;
  margin-left: 290px;
  border-radius: 15px;
  margin-right: 90px;
  margin-left: -133px;
}
.imagen1, .imagen2 {
  flex: 1 1;
  border-radius: 20px;
  margin-bottom: 6px;
  width: 710px;
  max-width: 381px;
  margin-left: -481px;
}
.imagen1{
  width: 650px;
}

.imagenes {
  width: 22%; 
  display: flex;
  flex-direction: column;
  
 
}



.texto-sobreimagen {
  overflow: hidden;
  width: 799px;
  font-size: 20px;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  margin-left: -771px;
  margin-top: 221px;
  font-style: normal;

}