/* src/components/ContainerPrincipal2.css */

.containerprincipal2 {
  background-color: #fafcf1;
  padding: 120px 60px;

}

.contenido {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contenido p {
  overflow: hidden;
    width: 800px;
    font-size: 20px;
    font-family: roboto, Helvetica, Arial, sans-serif;
    text-align: justify;
    margin-left: 290px;
}

.logo-afuera img {
  margin-top:13px; /* Ajusta la distancia desde arriba según tus necesidades */
  width: 250px; /* Ajusta el ancho del logo según tus necesidades */
  height: auto;
  margin-right: 480px; /* Esto mantiene la proporción original al ajustar el ancho */
}
