.contenido2 {
  display: flex;
  
  align-items: flex-start;
  gap:10px;
  margin: 20px 20px 20px 30px; /* Ajusta el margen según tus necesidades, incluyendo el margen izquierdo */
}

.imagenen_principal {
  width: 25%; /* Ajusta el ancho del lado izquierdo según tus necesidades */
  display: flex;
  flex-direction: column;
 
}
.imagen3 {
  border-radius: 8px;
}
.imagen1, .imagen2 {
  flex: 1;
  border-radius: 8px;
  margin-bottom: 10px;
  width: 100%; /* Ocupa el 100% del ancho disponible */
  max-width: 100%;
}

.imagenes {
  width: 22%; /* Ajusta el ancho del lado derecho según tus necesidades */
  display: flex;
  flex-direction: column;
 
}



.texto-sobreimagen {
  width: 48%; /* Ajusta el ancho del lado derecho según tus necesidades */
  text-align: center;
  color: rgb(3, 8, 34); /* Ajusta el color del texto según sea necesario */
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 9px;
  margin-left: 30px;
  margin-top: 190px;

}
