.navbar {
  background-color: #ffffff;
  color: black;
  font-size: 11px;
  opacity: 0;
  transition: opacity 0.3s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.navbar.show {
  opacity: 1;
}

.navbar-content {
  display: flex;
  justify-content: flex-end;
  gap: 40px;
  margin-right: 85px;
  margin-top: 15px; /* Reduzco el margen superior */
  font-family: 'Quicksand', sans-serif;
}

.navbar-text h1 {
  margin-bottom: 5px;
}

.navbar-image {
  margin-top: -80px; /* Reduzco el margen superior de la imagen */
  margin-bottom: -15px; /* Reduzco el margen inferior de la imagen */
  margin-left: 45px;
}

.navbar-image img {
  width: 115px;
  height: 115px;
  border-radius: 50%;
  object-fit: cover;
  animation: animate__fadeInRight 1s ease; /* Ajusta la duración de la animación según tus preferencias */
}