.footer-container {
    background-color: #333;
    color: #fff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    position: relative;
    overflow: hidden;
    display: flex;
  }
  
  .contact-info,
  .social-media,
  .copyright {
    flex: 1;
  }
  
  .social-media ul {
    list-style: none;
    padding: 0;
  }
  
  .social-media li {
    margin-bottom: 10px;
  }
  
  .social-media a {
    color: #fff;
    text-decoration: none;
  }
  
  .social-media a:hover {
    text-decoration: underline;
  }
  