.organico-container {
    display: flex;
    flex-direction: column;
  }
  
  .organico-item {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    margin-top:90px;
    margin-left: 190px;
   
  }

  .organico-item.reverse {
    flex-direction: row-reverse;
    margin-right:190px;
  }
  
  img {
    width: 400px;
    height:auto ;
    margin-left: 90px;
    
    margin-right: 50px;  /* Ajusta el espacio entre la imagen y el texto según tus necesidades */
    margin-left: 50px;  /* Ajusta el espacio entre el texto y la imagen según tus necesidades */
  }

  .parrafo{
    overflow: hidden;
    width: 700px;
    font-size: 18px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
  }
  